**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
**/*.user
**/*.log
**/dist
**/.env
**/.env.local
**/docker-compose.override.yml
**/.git
**/.github
**/.gitignore
.dockerignore
Dockerfile
README.md

